*{
    margin: 0;
    padding: 0;
}
body{
    background-color: blueviolet;
}

.container{
    height: 600px;
    width: 600px;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    
}

.white{
    /* height: 50px;
    width: 50px; */
    background-color: white;
}
.black{
    /* height: 50px;
    width: 50px; */
    background-color: black;
}