*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100wh;
}

.container{
    height: 100%;
    width: 100%;
    background-color: rgb(228, 233, 233);

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5rem;
}
.box{
    border: 5px solid black;
}

.box1{
    grid-row: 1/4;
    background-color: green;
}
.box2{
    grid-column: 2/4;
    background-color: green;

}
.box3{
    grid-column: 4/5;
}
.box6{
    grid-row: 2/4;
    grid-column: 4/5;
    background-color: green;

}

.box3,.box5,.box7{
    background-color: red;
}
.box4,.box8{
    background-color: yellow;
}