*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    /* width: 100vh; */
    width: 100vw;
    background-color: rgb(56, 56, 114);
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    background-color: rgb(56, 56, 114);
    height: 50%;
    width: 50%;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 1rem;
}
.box{
    border: 5px solid black;
}
.box1{
    grid-row: 1/4;
    background-color: green;
}
.box2{
    grid-column: 2/4;
        background-color: green;

}
.box6{
    grid-row: 2/4;
    grid-column: 4/5;
        background-color: green;

}

.box3,.box5,.box7{
    background-color: red;
}
.box4,.box8{
    background-color: yellow;
}