*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    height: 100%;
    gap: 1rem;
    background-color: white;
    padding: 4rem;
    display: grid;
    /* justify-content: center; */
    /* grid-template-columns: repeat(4,1fr); */
    /* grid-template-columns: minmax(100px,200px) minmax(100px,200px) minmax(100px,200px) minmax(100px,200px); */
    grid-template-columns: repeat(auto-fit,minmax(100px,200px));/*auto-fill jb tkk container me space hai box usme rahega nhi hai space to neeche shift krdega box ko */

}

/* Auto-fill auto-fit */


.Box{
    background: yellowgreen;
    font-size: 2rem;
    color: black;
}
