*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    padding: 2rem;

    /*isse pura .container move krega*/
    /* display: flex;
    justify-content: center; */
}

.container{
    height: 50%;
    width: 50%;
    background-color: azure;
    display: grid;
    /* grid-template-columns: repeat(2,400px);
    grid-template-rows: repeat(2,400px); */
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;



   /* 
   justify-items: center;
   align-items: center; */
   /*ye place-items trika se align-items, justify-items dono ek baar me hi set ho jata hai ,order v same hi hai phela wala align-item dusra wala justify-item*/
   place-items: center;/*place the item position in the grid*/
   place-items: end;
   place-items: center end; 
   place-items: start center;
   /* place-items: top;//top jaisa kuch hai hi nhi uske place pe start hai */
   /* place-items: bottom; //bottom jaisa kuch hai hi nhi uske place pe end hai*/


}

.box{
    height: 100px;
    width: 100px;
    background-color: orange;
    font-size: 2rem;
}

.Box2{
    align-self: start;
}