*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100wh;
    background-color: black;
}

.container{
    height: 50%;
    width: 50%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2,200px);/*agar isko responsive wala unit me lete to pura space le leta tb ye (justify-content: right) work krte hua v nhi pata chalta   */
    justify-content: right;
    justify-content: center;
    justify-content: end;
}

.box{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: orange;
}
