/*CSS Box Model for layout web
    -width and height: Define the size of an element’s content area.

    -border: Adds space around the content with customizable width, color, style, and radius.
        border: 5px brown solid;

    -padding: Adds space inside the border (between content and border).
        padding: 10px 20px 30px 40px; → top right bottom left

    -margin: Adds space outside the border (between elements).
        margin: 20px 50px 15px 10px; → top right bottom left


*/

/* *{
    margin: auto;
} */



h2{
    text-align: center;
    background-color: aqua;
    /* width: 300px; */
    /* height: 200px; */
    width: 100%;
    height: 3rem;
    /*
    border-width: 5px; 
    border-color: brown; 
    border-style: solid;
    */
    border-radius: 0.5rem;
    /* shortcuts */
    border: 5px black solid ;
    padding-top: 1.5rem;
    /* padding-left: 20rem; */
    /* padding: 10px 20px 30px 40px; */
    /* margin: 20px 0 15px 0;   */
}


/* When we have 2 option for border width
it will be allocated to top and bottom, right and left */
h4{
    text-align: center;
    background-color: aqua;
    /* border-left-width: 10px;
    border-left-color: blue;
    border-left-style: solid; */
    /* border-width: 10px 20px 30px 40px; */
    border-width: 5px 10px;
    border-style: solid;
    border-color: black;
}

ul{
    background-color: rgb(62, 75, 75);
    border: 3px red solid ;
}
li{
    color: peru;
}

p{
    font-size: 1.5rem;
    border-width: 0.25rem;
    border-color: black;
    border-style: solid;
    padding: 15px;
}

